<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Keyword Algorithm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Input</ion-label>
      <ion-textarea auto-grow="true" id="comments-box"></ion-textarea>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Keyword</ion-label>
      <ion-textarea id="keyword-box"></ion-textarea>
    </ion-item>
    <br>
    <ion-button size="large" expand="full" (click)="searchKeyword()">Search</ion-button>
    <br>
    <div id="result-box"></div>
  </div>
</ion-content>
